{% extends "_base.html" %}

{% load i18n %}

{% block "title" %}{% trans "Download development builds" %}{% endblock %}

{% block "body" %}
<div class="page-header">
    <h1>{% trans "Download development builds" %}</h1>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span9">
            {% for branch, builds in branches %}
                <div id="download-dev">
                <a name="{{ branch }}"></a>
                <h1>{% blocktrans %}<tt>{{ branch }}</tt> branch{% endblocktrans %}</h1>
                {% include "downloads-devrel.html" %}

                <p><a class="btn" href="{% url downloads-list branch 1 %}">{% trans "View older versions »" %}</a></p>
                </div>
            {% endfor %}
        </div>
        <div class="span3">
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header">{% trans "Branch list" %}</li>
                    {% for branch, builds in branches %}
                    <li><a href="#{{ branch }}">{{ branch }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}
