{% load humanize %}
{% load i18n %}

<div class="row versions-list gy-3">
    {% for ver in builds %}
        <div class="col-6 col-md-4 col-lg-3 version always-ltr">
            <p class="mb-0">
                <a href="{{ ver.get_absolute_url }}">{{ ver.shortrev }}</a>
            </p>
            <span class="badge bg-light text-dark" title="{{ ver.date|date:"c" }}">{{ ver.date|naturaltime }}</span>
        </div>
        <div class="col-6 col-md-8 col-lg-9 description always-ltr">
            <i>{{ ver.description_abbrev }}</i>
        </div>
        <div class="col-12 download-links pb-3 border-bottom">
            {% include "downloads-links.html" with primclass=primclass %}
        </div>
    {% empty %}
    <div class="col">{% trans "No development release yet" %}</div>
    {% endfor %}
</div>