{% extends "_base.html" %}

{% load humanize %}
{% load i18n %}

{% block "metadescr" %}{% blocktrans with ver=last_master.shortrev %}Download the latest version of the Dolphin Emulator ({{ ver }}) from the official website.{% endblocktrans %}{% endblock %}

{% block "title" %}{% trans "Download" %}{% endblock %}

{% block "body" %}

<div style="text-align: center;">
    <ins class="adsbygoogle"
    style="display:inline-block;width:728px;height:90px"
    data-ad-client="ca-pub-8646203626363069"
    data-ad-slot="1119107312"></ins>
</div>

<div class="page-header">
    <h1>{% trans "Download" %}</h1>
</div>

<div id="download-releases">
<h1>{% trans "Releases" %}</h1>
    
<div class="alert alert-info">{% blocktrans %}
    <p>Releases are created every few months, usually accompanied by a <em>Progress Report</em>
    article. Use the latest release if you prefer stability over the newest features in the
    <a href="#download-dev">development versions</a>.</p>
{% endblocktrans %}</div>

<div class="alert alert-info">
    <p>{% blocktrans %}Linux users can add the following Flatpak repository: <code>https://flatpak.dolphin-emu.org/releases.flatpakrepo</code>{% endblocktrans %}</p>
</div>

<div class="alert alert-danger">
    <p>{% blocktrans %}The Windows releases <b>require</b> the <a href="https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads">64-bit Visual C++ redistributable for Visual Studio 2022</a> to be installed.{% endblocktrans %}</p>
</div>

{% include "downloads-release.html" with builds=releases primclass='btn-info' %}

<p><a class="btn" href="{% url 'downloads_list' "releases" 1 %}">{% trans "View older releases »" %}</a></p>
</div>

<div id="download-dev">
<h1>{% trans "Development versions" %}</h1>
    
<div class="alert alert-info">
    <p>{% blocktrans %}Development versions are released every time a developer makes a change to
    Dolphin, several times every day! Using development versions enables you to
    use the latest and greatest improvements to the project. However, they are
    less tested than <a href="#download-releases">releases</a>.{% endblocktrans %}</p>
</div>

<div class="alert alert-info">
    <p>{% blocktrans %}Linux users can add the following Flatpak repository: <code>https://flatpak.dolphin-emu.org/dev.flatpakrepo</code>{% endblocktrans %}</p>
</div>

<div class="alert alert-danger">
    <p>{% blocktrans %}The Windows development versions <b>require</b> the <a href="https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads">64-bit Visual C++ redistributable for Visual Studio 2022</a> to be installed.{% endblocktrans %}</p>
</div>

{% include "downloads-devrel.html" with builds=master_builds primclass='btn-info' %}

<p><a class="btn" href="{% url 'downloads_list' "master" 1 %}">{% trans "View older versions »" %}</a></p>
</div>

<div style="text-align: center;">
<script type="text/javascript"><!--
google_ad_client = "ca-pub-8646203626363069";
/* Downloads page ad (middle) */
google_ad_slot = "2595840518";
google_ad_width = 728;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="//pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div>

<div id="other-linux">
    <h1>{% trans "Linux distributions" %}</h1>
    <p>{% blocktrans %}
    We are now offering official Linux development builds in the Flatpak format. If you would like to install these builds, we recommend adding our repository at <code>https://flatpak.dolphin-emu.org/dev.flatpakrepo</code>.
    {% endblocktrans %}
    <p>{% blocktrans %}
    If you would like to compile your own build, please refer to our <a href="https://github.com/dolphin-emu/dolphin/wiki/Building-for-Linux">Building for Linux guide</a>.
    {% endblocktrans %}</p>
</div>

<div id="download-source">
    <h1>{% trans "Source code" %}</h1>

    <p>{% blocktrans %}
    The latest version of the Dolphin source code can be downloaded from the
    project Git repository.
    {% endblocktrans %}</p>

    <pre class="always-ltr">
    $ git clone {{ GIT_CLONE_URL }}</pre>

    <p>{% blocktrans %}
    You can also <a href="{{ GIT_BROWSE_URL }}">browse the current version of the source code</a>.
    {% endblocktrans %}</p>

</div>

<div id="report-bugs">
    <h1>{% trans "Reporting bugs" %}</h1>

    <p>{% blocktrans %}
    For reporting bugs please go to <a href="{{ ISSUES_URL }}">the issue tracker</a>.
    Before creating a new issue, make sure to try a recent development build and search the existing issues.
    {% endblocktrans %}</p>
</div>

{% endblock %}
