<ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li class="page-item"><a class="page-link" href="{% url 'downloads_list' branch page_obj.previous_page_number %}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
    {% else %}
    <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
    {% endif %}

    {% for page in page_obj.leading_range %}
    <li class="page-item"><a class="page-link" href="{% url 'downloads_list' branch page %}">{{ page }}</a></li>
    {% endfor %}

    {% if page_obj.leading_range %}
    <li class="page-item disabled"><span>&hellip;</span></li>
    {% endif %}

    {% for page in page_obj.main_range %}
    {% if page == page_obj.number %}
    <li class="page-item active"><a class="page-link" href="#">{{ page }}</a></li>
    {% else %}
    <li class="page-item"><a class="page-link" href="{% url 'downloads_list' branch page %}">{{ page }}</a></li>
    {% endif %}
    {% endfor %}

    {% if page_obj.trailing_range %}
    <li class="page-item disabled"><span>&hellip;</span></li>
    {% endif %}

    {% for page in page_obj.trailing_range %}
    <li class="page-item"><a class="page-link" href="{% url 'downloads_list' branch page %}">{{ page }}</a></li>
    {% endfor %}

    {% if page_obj.has_next %}
    <li class="page-item"><a class="page-link" href="{% url 'downloads_list' branch page_obj.next_page_number %}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
    {% else %}
    <li class="page-item disabled"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
    {% endif %}
</ul>