{% extends "_base.html" %}

{% load humanize %}
{% load i18n %}

{% block "title" %}{% blocktrans with br=ver.revbranch %}Information on {{ br }}{% endblocktrans %}{% endblock %}

{% block "body" %}
<div class="page-header">
    <h1>{% blocktrans with br=ver.revbranch %}Information for {{ br }}{% endblocktrans %}</h1>
</div>

<div style="text-align: center;">
<script type="text/javascript"><!--
google_ad_client = "ca-pub-8646203626363069";
/* Dolphin Individual Download Ad */
google_ad_slot = "5299890518";
google_ad_width = 970;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="//pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div>

<div class="row">
    <div class="col-md-5">
        <dl>
            <dt>{% trans "Version" %}
            <dd>{{ ver.shortrev }}

            <dt>{% trans "Branch" %}
            <dd>{{ ver.branch }}

            <dt>{% trans "Date" %}
            <dd title="{{ ver.date|date:"c" }}">{{ ver.date|naturaltime }}

        </dl>

        {% include "downloads-links.html" %}
    </div>
    <div class="col-md-7">
        <dl>
            <dt>{% trans "Commit" %}
            <dd class="commithash"><a href="{{ GIT_COMMIT_URL }}{{ ver.hash }}">{{ ver.hash }}</a></dd>

            <dt>{% trans "Change author" %}
            <dd>{{ ver.author }}

            <dt>{% trans "Change description" %}
            <dd><pre>{{ ver.description }}</pre>
        </dl>
    </div>
</div>

{% endblock %}
