{% extends "_base.html" %}

{% load i18n %}

{% block "title" %}{% blocktrans %}{{ branch }} branch - page {{ page }}{% endblocktrans %}{% endblock %}

{% block "body" %}
<div class="page-header border-bottom mb-3">
    <h1 class="mt-5">{% blocktrans %}<tt>{{ branch }}</tt> branch - page {{ page }}{% endblocktrans %}</h1>
</div>

{% include "downloads-list-pagi.html" %}

{% include "downloads-devrel.html" with builds=page_obj.object_list %}

{% include "downloads-list-pagi.html" %}

{% endblock %}
