{% extends "_base.html" %}

{% load i18n %}

{% block "title" %}{% trans "Download development builds" %}{% endblock %}

{% block "body" %}
<div class="page-header">
    <h1>{% trans "Download development builds" %}</h1>
</div>

{% for branch, builds in branches %}
    <div id="download-dev">
    <h1>{% blocktrans %}<tt>{{ branch }}</tt> branch{% endblocktrans %}</h1>
    {% include "downloads-devrel.html" %}

    <p><a class="btn" href="">{% trans "View older versions »" %}</a></p>
    </div>
{% endfor %}

{% endblock %}
