{% extends "_base.html" %}

{% load humanize %}
{% load i18n %}

{% block "metadescr" %}{% blocktrans with ver=last_master.shortrev %}Download the latest version of the Dolphin Emulator ({{ ver }}) from the official website.{% endblocktrans %}{% endblock %}

{% block "title" %}{% trans "Download" %}{% endblock %}

{% block "body" %}

<div style="text-align: center;">
<script type="text/javascript"><!--
google_ad_client = "ca-pub-8646203626363069";
/* Downloads page ad */
google_ad_slot = "1119107312";
google_ad_width = 728;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="//pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div>

<div class="page-header">
    <h1>{% trans "Download" %}</h1>
</div>

{% if USER_OS == "win" %}
<div class="alert alert-warning">{% blocktrans %}
    You appear to be running a 32-bit version of Windows. Dolphin no longer
    supports such operating systems, please update to a 64-bit version.
{% endblocktrans %}</div>
{% endif %}

<div id="download-dev">
<h1>{% trans "Development versions" %}</h1>

<div class="alert">{% blocktrans %}
    <p>Development versions are released every time a developer makes a change to
    Dolphin, several times every day! Using development versions enables you to
    use the latest and greatest improvements to the project. They are however
    less tested than stable versions of the emulator.</p>

    <p>The development versions require the <a href="https://www.microsoft.com/en-us/download/details.aspx?id=48145">64-bit Visual C++ redistributable for Visual Studio 2015</a>
    to be installed.</p>
{% endblocktrans %}</div>

{% include "downloads-devrel.html" with builds=master_builds primclass='btn-info' %}

<p><a class="btn" href="{% url 'downloads_list' "master" 1 %}">{% trans "View older versions »" %}</a></p>
</div>

<div id="download-stable">
<h1>{% trans "Release Candidate versions" %}</h1>

<div class="alert alert-info">{% blocktrans %}
    Release candidate versions are released to test an upcoming stable release of
    Dolphin. They are generally more stable than the Development versions, but may still have known bugs.
{% endblocktrans %}</div>

{% include "downloads-devrel.html" with builds=stable_builds primclass='btn-info' %}
</div>

<div style="text-align: center;">
<script type="text/javascript"><!--
google_ad_client = "ca-pub-8646203626363069";
/* Downloads page ad (middle) */
google_ad_slot = "2595840518";
google_ad_width = 728;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="//pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div>

<div id="download-stable">
<h1>{% trans "Stable versions" %}</h2>

<div class="alert alert-info">{% blocktrans %}
    Stable versions are released after a lot of testing to ensure emulation
    performance and stability. However, since they are released less often,
    they might be outdated and lacking some new features.
{% endblocktrans %}</div>

<table class="versions-list stable-versions">
    <tbody>
    {% for ver in releases %}
        <tr class="infos">
            <td class="version always-ltr">Dolphin {{ ver.version }}</td>
            <td class="reldate">{{ ver.date|naturaltime }}</td>
            <td class="description"></td>
        </tr>
        <tr class="download">
            <td></td>
            <td class="download-links" colspan="2">
                {% include "downloads-links.html" %}
            </td>
        </tr>
        </li>
    {% empty %}
        <tr><td colspan="2"><em>{% trans "No stable release yet" %}</em></td></tr>
    {% endfor %}
    </tbody>
</table>
</div>

<div id="other-linux">
    <h1>{% trans "Older Ubuntu (< 15.04) and users of other Linux distributions" %}</h1>
    <p>{% blocktrans %}Ubuntu 14.10 and older users can install a PPA 
    for development and stable versions of Dolphin here: <a href="https://wiki.dolphin-emu.org/index.php?title=Installing_Dolphin#Ubuntu">Installing Dolphin</a>
    {% endblocktrans %}</p>
    <p>{% blocktrans %}Users of other Linux distributions can look here to compile Dolphin: <a href="https://wiki.dolphin-emu.org/index.php?title=Building_Dolphin_on_Linux">Building Dolphin on Linux</a>
    {% endblocktrans %}</p>
</div>   

<div id="download-source">
    <h1>{% trans "Source code" %}</h1>

    <p>{% blocktrans %}
    The latest version of the Dolphin source code can be downloaded from the
    project Git repository.
    {% endblocktrans %}</p>

    <pre class="always-ltr">
    $ git clone {{ GIT_CLONE_URL }}</pre>

    <p>{% blocktrans %}
    You can also <a href="{{ GIT_BROWSE_URL }}">browse the current version of the source code</a>.
    {% endblocktrans %}</p>

</div>

<div id="report-bugs">
    <h1>{% trans "Reporting bugs" %}</h1>

    <p>{% blocktrans %}
    For reporting bugs please go to <a href="{{ ISSUES_URL }}">the issue tracker on Google Code</a>.
    Before creating a new issue, make sure to try a recent development build and search the existing issues.
    {% endblocktrans %}</p>
</div>

{% endblock %}
