{% extends "_base.html" %}

{% load humanize %}
{% load i18n %}

{% block "title" %}{% blocktrans with br=ver.revbranch %}Information on {{ br }}{% endblocktrans %}{% endblock %}

{% block "body" %}
<div class="page-header">
    <h1>{% blocktrans with br=ver.revbranch %}Information for {{ br }}{% endblocktrans %}</h1>
</div>

<div style="text-align: center;">
    <ins class="adsbygoogle"
    style="display:inline-block;width:970px;height:90px"
    data-ad-client="ca-pub-8646203626363069"
    data-ad-slot="5299890518"></ins>
</div>

<div class="row">
    <div class="col-md-5">
        <dl>
            <dt>{% trans "Version" %}
            <dd>{{ ver.shortrev }}

            <dt>{% trans "Branch" %}
            <dd>{{ ver.branch }}

            <dt>{% trans "Date" %}
            <dd title="{{ ver.date|date:"c" }}">{{ ver.date|naturaltime }}

        </dl>

        {% include "downloads-links.html" %}
    </div>
    <div class="col-md-7">
        <dl>
            <dt>{% trans "Commit" %}
            <dd class="commithash"><a href="{{ GIT_COMMIT_URL }}{{ ver.hash }}">{{ ver.hash }}</a></dd>

            <dt>{% trans "Change author" %}
            <dd>{{ ver.author }}

            <dt>{% trans "Change description" %}
            <dd><pre>{{ ver.description }}</pre>
        </dl>
    </div>
</div>

{% endblock %}
