{% extends "_base.html" %}

{% load humanize %}
{% load i18n %}

{% block "title" %}{% trans "Download" %}{% endblock %}

{% block "body" %}
<div class="page-header">
    <h1>{% trans "Download" %}</h1>
</div>

<div id="download-stable">
<h1>{% trans "Stable versions" %}</h2>

<div class="alert alert-info">{% blocktrans %}
    Stable versions are released after a lot of testing to ensure emulation
    performance and stability. <strong>If you do not know what version of Dolphin you
        should use, the latest stable version is generally the best.</strong>
{% endblocktrans %}</div>

<table class="versions-list stable-versions">
    <tbody>
    {% for ver in releases %}
        <tr class="infos">
            <td class="version">Dolphin {{ ver.version }}</td>
            <td class="reldate">{{ ver.date|naturaltime }}</td>
            <td class="description"></td>
        </tr>
        <tr class="download">
            <td></td>
            <td class="download-links" colspan="2">
                {% include "downloads-links.html" %}
            </td>
        </tr>
        </li>
    {% empty %}
        <tr><td colspan="2"><em>{% trans "No stable release yet" %}</em></td></tr>
    {% endfor %}
    </tbody>
</table>
</div>

<div id="download-dev">
<h1>{% trans "Development versions" %}</h1>

<div class="alert">{% blocktrans %}
    <strong>Warning!</strong> Development versions are released every time a
    developer makes a change to Dolphin. Using development versions enables you
    to use the greatest and latest improvements to the project, at the cost of
    decreased stability.
{% endblocktrans %}</div>

<p>{% trans "Only displaying the <tt>master</tt> branch versions." %}
<a class="all-branches" href="{% url downloads-branches %}">{% trans "Show all available branches" %}</a>.
</p>

{% include "downloads-devrel.html" with builds=master_builds primclass='btn-info' %}

<p><a class="btn" href="{% url downloads-list "master" 1 %}">{% trans "View older versions »" %}</a></p>
</div>

<div id="download-source">
    <h1>{% trans "Source code" %}</h1>

    <p>{% blocktrans %}
    The latest version of the Dolphin source code can be downloaded from the
    project Git repository.
    {% endblocktrans %}</p>

    <pre>
    $ git clone https://code.google.com/p/dolphin-emu/</pre>

    <p>{% blocktrans %}
    You can also <a href="http://code.google.com/p/dolphin-emu/source/browse/">browse
        the current version of the source code</a>.
    {% endblocktrans %}</p>
</div>

{% endblock %}
