Django==1.7b1
Fabric==1.8.3
Jinja2==2.7.2
Markdown==2.4
MarkupSafe==0.21
Pillow==2.4.0
beautifulsoup4==4.3.2
django-annoying==0.7.9
-e git+git@github.com:delroth/django-blog-zinnia.git@f078cfe0a594477d2fc66db29a58cb24736a12f2#egg=django_blog_zinnia-develop
django-bootstrap-form==3.1
django-debug-toolbar==1.1
django-mptt==0.6.0
django-sslify==0.2.3
django-tagging==0.3.2
django-xmlrpc==0.1.5
ecdsa==0.11
glue==0.9.4
paramiko==1.12.3
polib==1.0.4
pycrypto==2.6.1
pymongo==2.7
pyparsing==2.0.2
pytz==2014.2
requests==2.2.1
sorl-thumbnail==11.12.1b
sqlparse==0.1.11
