Django==1.4
Fabric==1.5.3
Markdown==2.2.0
MySQL-python==1.2.4
PIL==1.1.7
Pillow==1.7.8
distribute==0.6.34
django-annoying==0.7.6
django-bootstrap-form==2.0.3
django-debug-toolbar==0.9.4
django-sslify==0.2
glue==0.3
paramiko==1.9.0
polib==1.0.3
pycrypto==2.6
pymongo==2.4.2
requests==1.1.0
sorl-thumbnail==11.12
wsgiref==0.1.2
