{% load i18n %}
{% load language %}
{% load static from staticfiles %}

<!DOCTYPE html>

<html lang="{{ LANGUAGE_CODE }}" dir="{{ LANGUAGE_CODE|langdir }}">
    <head>
        <meta charset="utf-8">
        <title>{% trans "Dolphin Emulator" %} - {% block "title" %}{% endblock %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{% block "metadescr" %}{% endblock %}">

        {% block "extra_og_meta_tags" %}
        {% endblock %}
        <meta property="og:site_name" content="Dolphin Emulator" />
        <meta property="fb:admins" content="1064682820" />

        <link rel="shortcut icon" href="{% static "img/favicon.ico" %}" />

        <link rel="alternate" type="application/atom+xml" title="{% trans "Latest blog articles" %}" href="{% url 'zinnia:entry_feed' %}" />

        {% for langshort, langname in LANGUAGES %}
            {% if langshort != LANGUAGE_CODE|short %}
            <link rel="alternate" hreflang="{{ langshort|langcode }}" href="//{{ langshort|to_subdomain }}{{ request.path }}{% if request.META.QUERY_STRING %}?{{ request.META.QUERY_STRING }}{% endif %}" />
            {% endif %}
        {% endfor %}

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" integrity="sha384-tKLJeE1ALTUwtXlaGjJYM3sejfssWdAaWR2s97axw4xkiAdMzQjtOjgcyw0Y50KU" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <link href="{% static "css/dolphin.css" %}" rel="stylesheet">
        <link href="{% static "sprites/nav.css" %}" rel="stylesheet">
        {% block "extracss" %}
        {% endblock %}

        {% if GOOGLE_ANALYTICS_ACCOUNT %}
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', '{{ GOOGLE_ANALYTICS_ACCOUNT }}']);
          _gaq.push(['_setDomainName', 'dolphin-emu.org']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

          window.google_analytics_uacct = "{{ GOOGLE_ANALYTICS_ACCOUNT }}";
        </script>
        {% endif %}

        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
        <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/highcharts/6.1.1/highcharts.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/highcharts/6.1.1/modules/data.js"></script>
        <script>
          var CHART_ID = 0;
          function addChart(options) {
            var this_id = CHART_ID++;
            document.write('<div id="chart' + CHART_ID + '"></div>');
            options['credits'] = false;
            options['chart'] = options['chart'] || {};
            options['chart']['style'] = options['chart']['style'] || {};
            options['chart']['style']['fontFamily'] = 'Helvetica Neue,Helvetica,Arial,sans-serif';
            Highcharts.chart("chart" + CHART_ID, options);
          }
          window.addEventListener("load", function(){
            window.cookieconsent.initialise({
              "content": {
                "message": "{% trans "We use cookies to personalise content and ads, to provide social media features and to analyse our traffic. We also share information about your use of our site with our social media, advertising and analytics partners who may combine it with other information you’ve provided to them or they’ve collected from your use of their services." %}",
                "link": "Learn more",
                "href": "https://cookiesandyou.com/",
              },
              "palette": {
                "popup": {
                  "background": "#000"
                },
                "button": {
                  "background": "#f1d600"
                }
              }
            })
          });
        </script>
    </head>

    <body>
        {% block "bodystart" %}{% endblock %}

        <nav id="navbar-dolphin" class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img src="{% static "img/logo.png" %}" height="32" alt="{% trans "Dolphin Emulator" %}" class="d-inline-block align-text-top">
                </a>
                <button class="navbar-toggler pull-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-nav" aria-controls="navbar-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse" id="navbar-nav">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item"><a class="nav-link" href="{% url 'downloads_index' %}">{% trans "Download" %}</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'zinnia:entry_archive_index' %}">{% trans "Blog" %}</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'media_all' %}">{% trans "Screenshots" %}</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'docs_faq' %}">{% trans "FAQ" %}</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'docs_guides_index' %}">{% trans "Guides" %}</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'compat_index' %}">{% trans "Compatibility" %}</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ FORUM_URL }}">{% trans "Forum" %}</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ WIKI_URL }}">{% trans "Wiki" %}</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ GIT_BROWSE_URL }}">{% trans "Code" %}</a></li>
                    </ul>
                    <ul class="nav navbar-nav mb-2 mb-lg-0 float-lg-end">
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <div class="flag curr-flag sprite-nav-{{ LANGUAGE_CODE|short }}"></div> <span>{{ LANGUAGE_CODE|langname }}</span> <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="navbarDropdown">
                            {% for langshort, langname in LANGUAGES %}
                                {% if langshort != LANGUAGE_CODE|short %}
                                <li>
                                    <a href="//{{ langshort|to_subdomain }}{{ request.path }}?nocr=true" class="dropdown-item">
                                        <div class="flag sprite-nav-{{ langshort }}"></div>
                                        <span dir="{{ langshort|langdir }}">{{ langname }}</span>
                                    </a>
                                </li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        {% block "outerbody" %}
        {% endblock %}

        <div class="container">
            {% if COUNTRY_REDIRECT %}
            <div class="always-ltr alert alert-info">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                You have been redirected to the <strong>{{ LANGUAGE_CODE|langname }}</strong>
                version of the website based on your browser language preferences.
                If you prefer the English version, <a href="//{{ DEFAULT_HOST }}{{ request.path }}?nocr=true">click here to go back</a>.
            </div>
            {% endif %}
            {% block "body" %}
            {% endblock %}
        </div>

        <div class="modal fade" id="lightbox-modal" tabindex="-1" aria-labelledby="lightbox-modal-label" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-fullscreen-sm-down">
                <div class="modal-content overflow-hidden">
                    <div class="modal-header">
                        <h5 class="modal-title" id="lightbox-modal-label">Image title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body p-0">
                        <div class="position-absolute top-0 backdrop">
                            <img class="backdrop-img position-absolute top-50 start-50 translate-middle">
                        </div>
                        <div class="d-flex align-items-center h-100">
                            <img class="img-fluid lightbox-img">
                        </div>
                        <div class="arrow-overlay">
                            <a href="#" class="arrow previous d-none" aria-label="Previous Image"><i class="bi bi-caret-left-fill"></i></a>
                            <a href="#" class="arrow next d-none" aria-label="Next Image"><i class="bi bi-caret-right-fill"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer>
        <p class="footer-text">
            {% trans "&copy; Dolphin Emulator Project" %} -
            <a href="{{ WEBSITE_GIT_URL }}">{% trans "Website Source Code" %}</a> -
            <a href="{% url 'docs_privacy' %}">{% trans "Privacy Policy" %}</a>
        </p>
        </footer>

        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
        <script type="text/javascript">
            // Lightbox
            var lightboxModal = document.getElementById('lightbox-modal');
            var lightboxModalPrev = lightboxModal.querySelector(".previous");
            var lightboxModalNext = lightboxModal.querySelector(".next");
            var modalTitle = lightboxModal.querySelector('.modal-title');
            var modalImage = lightboxModal.querySelector('.modal-body img.lightbox-img');
            var modalBackdrop = lightboxModal.querySelector('.modal-body img.backdrop-img');

            var prevElem = null;
            var nextElem = null;

            lightboxModal.addEventListener('show.bs.modal', function (event) {
                // Button that triggered the modal
                var button = event.relatedTarget;
                loadLightbox(button);
            });

            lightboxModalPrev.addEventListener('click', function (event) {
                if(prevElem){
                    loadLightbox(prevElem);
                }
            });

            lightboxModalNext.addEventListener('click', function (event) {
                if(nextElem){
                    loadLightbox(nextElem);
                }
            });

            function loadLightbox(eventElem) {
                // Is part of a gallery?
                var galleryElem = eventElem.closest("div[data-gallery]");
                if(galleryElem){
                    // No real reason to get the gallery name right now, but it's there if needed
                    // var galleryName = galleryElem.getAttribute("data-gallery");

                    // Select all other nodes in this gallery
                    var galleryItems = galleryElem.querySelectorAll("a[data-toggle='lightbox']");

                    // Get the nodes as an array to get the index
                    var nodes = Array.prototype.slice.call(galleryItems);
                    var currentIndex = nodes.indexOf(eventElem);

                    // Get previous element
                    if(currentIndex - 1 > -1) {
                        prevElem = galleryItems[currentIndex - 1];
                    }else{
                        prevElem = null;
                    }

                    // Get next element
                    if(currentIndex + 1 < galleryItems.length) {
                        nextElem = galleryItems[currentIndex + 1];
                    }else{
                        nextElem = null
                    }

                    // Add prev/next arrows if needed
                    if(prevElem) {
                        lightboxModalPrev.classList.remove("d-none");
                    }else{
                        lightboxModalPrev.classList.add("d-none");
                    }
                    if(nextElem) {
                        lightboxModalNext.classList.remove("d-none");
                    }else{
                        lightboxModalNext.classList.add("d-none");
                    }
                }else{
                    // Remove prev/next arrows
                    lightboxModalPrev.classList.add("d-none");
                    lightboxModalNext.classList.add("d-none");
                    prevElem = null;
                    nextElem = null;
                }

                // Extract info from data attributes
                var imgTitle = eventElem.getAttribute('data-title');
                var bigImgSrc = eventElem.getAttribute('data-src');
                // Update the modal's content.
                modalTitle.textContent = imgTitle;
                modalImage.src = bigImgSrc;
                modalBackdrop.src = bigImgSrc;
            }
        </script>
        {% block "extrajs" %}
        {% endblock %}
    </body>
</html>
