{% load i18n %}
{% load language %}

<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Dolphin Emulator - {% block "title" %}{% endblock %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/dolphin.css" rel="stylesheet">
        {% block "extracss" %}
        {% endblock %}

        {% if GOOGLE_ANALYTICS_ACCOUNT %}
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', '{{ GOOGLE_ANALYTICS_ACCOUNT }}']);
          _gaq.push(['_setDomainName', 'dolphin-emu.org']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

          window.google_analytics_uacct = "{{ GOOGLE_ANALYTICS_ACCOUNT }}";
        </script>
        {% endif %}
    </head>

    <body>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="{% url home %}">Dolphin Emulator</a>
                    <div class="nav-collapse">
                        <ul class="nav pull-left">
                            <li><a href="{% url home %}">{% trans "Home" %}</a></li>
                            <li><a href="{% url media-all %}">{% trans "Media" %}</a></li>
                            <li><a href="{% url downloads-index %}">{% trans "Download" %}</a></li>
                            <li><a href="{% url docs-faq %}">{% trans "FAQ" %}</a></li>
                            <li><a href="{% url docs-guides-index %}">{% trans "Guides" %}</a></li>
                            <li><a href="{{ FORUM_URL }}">{% trans "Forum" %}</a></li>
                            <li><a href="{{ WIKI_URL }}">{% trans "Wiki" %}</a></li>
                            <li><a href="{{ GCODE_URL }}">{% trans "Development" %}</a></li>
                        </ul>
                        <ul class="nav pull-right">
                            <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img class="curr-flag" src="{{ STATIC_URL }}img/flags/{{ LANGUAGE_CODE|short }}.png" alt="{{ LANGUAGE_CODE|short }}"> {{ LANGUAGE_CODE|langname }} <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                {% for langcode, langname in LANGUAGES %}
                                    {% if langcode != LANGUAGE_CODE|short %}
                                    <li><a href="http://{{ langcode|to_subdomain }}{{ request.get_full_path }}"><img class="flag" src="{{ STATIC_URL }}img/flags/{{ langcode }}.png" alt="{{ langcode }}"> {{ langname }}</a></li>
                                    {% endif %}
                                {% endfor %}
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        {% block "outerbody" %}
        {% endblock %}

        <div class="container">
            {% block "body" %}
            {% endblock %}
        </div>

        <footer>
        <p class="footer-text">
            {% blocktrans %}
            &copy; 2012 Dolphin Emulator Project -
            <a href="https://bitbucket.org/delroth/dolphin-web/">Website source code</a>
            {% endblocktrans %}
        </p>
        </footer>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
        {% block "extrajs" %}
        {% endblock %}
    </body>
</html>
