/* LTR/RTL util classes */
.always-ltr {
    direction: ltr;
}

.always-rtl {
    direction: rtl;
}

.default-dir {
    direction: ltr;
}

html[dir="rtl"] .default-dir {
    direction: rtl;
}

/* Align some table text cells to the right (always English ltr text) */
html[dir="rtl"] table.versions-list td.description {
    text-align: right;
}

html[dir="rtl"] table.compat-list td.title {
    text-align: right;
}

/* Generic pull-left & pull-right */
.pull-origin, html[dir="rtl"] .pull-end {
    float: left;
}

.pull-end, html[dir="rtl"] .pull-origin {
    float: right;
}

/* Fix ratings-stats margins */
html[dir="rtl"] .ratings-expl ul {
    padding-right: 0;
}

html[dir="rtl"] .ratings-stats {
    margin-right: 20px;
}

html[dir="rtl"] .ratings-stats dl, html[dir="rtl"] .ratings-stats dd {
    margin-right: 0;
}

/* Fix Bootstrap rows in RTL */
html[dir="rtl"] [class*="span"] {
    float: right;
    margin-right: 0;
    margin-left: 0;
}

html[dir="rtl"] .row-fluid [class*="span"] {
    float: right;
    margin-right: 2.127659574%;
    *margin-right: 2.0744680846382977%;
    margin-left: 0;
}

html[dir="rtl"] .row-fluid [class*="span"]:first-child {
    margin-right: 0;
}

html[dir="rtl"] ul.rtl-fixed, html[dir="rtl"] ol.rtl-fixed {
    padding: 0 40px 0 0;
    margin: 0 0 9px 0;
}

html[dir="rtl"] th {
    text-align: right;
}

h1 a.headerlink, h2 a.headerlink,
h3 a.headerlink, h4 a.headerlink,
h5 a.headerlink {
    margin-left: 0.5em;
    font-size: 60%;
    visibility: hidden;
}

h1:hover a.headerlink, h2:hover a.headerlink,
h3:hover a.headerlink, h4:hover a.headerlink,
h5:hover a.headerlink {
    visibility: visible;
}

#gallery {
    text-align: center;
}

#gallery > a {
    border: 1px solid #777;
    display: inline-block;
    margin: 0 1.5em 1.5em 0;
    padding: 4px;
}

#download-dev a.all-branches {
    font-weight: bold;
}

.commithash {
    font-family: monospace;
}

.versions-list {
    width: 100%;
    margin-bottom: 1em;
}

.versions-list td.version {
    font-weight: bold;
    text-align: center;
    width: 10%;
}

.versions-list td.reldate {
    text-align: center;
    width: 15%;
}

.versions-list td.description {
    width: 65%;
    font-style: italic;
}

.versions-list tr.infos td {
    padding-bottom: 0.5em;
}

div#download-stable, div#download-dev {
    margin-bottom: 3em;
}

div#download-stable h1, div#download-dev h1, div#download-source h1 {
    margin-bottom: 0.5em;
}

.versions-list tr:first-child {
    border-top: 1px solid #CCC;
}

.versions-list tr.infos td {
    padding-top: 0.6em;
}

.versions-list tr.download {
    border-bottom: 1px solid #CCC;
}

.versions-list tr.download td {
    padding-bottom: 0.6em;
}

.versions-list li span.version {
    display: inline-block;
    width: 8em;
}

.versions-list li span.reldate {
    display: inline-block;
    width: 14em;
}

.download-btn {
    margin-top: 1.0em;
    text-align: center;
}

.fb-like {
    height: 20px;
    display: inline-block;
    margin-right: 1em;
}

.g-plusone {
    height: 20px;
    display: inline-block;
}

#sshot-carousel {
    box-shadow: 0 0 6px #222222;
    margin-bottom: 0;
}

.hero-unit .requirements {
    font-size: 0.9em;
    line-height: 1.4em;
}

li.faq-cat {
    text-transform: uppercase;
    font-size: 0.9em;
    margin-top: 0.7em;
}

li.faq-title {
    font-size: 0.9em;
}

section.faq-section div.faq-answer {
    margin-bottom: 1.5em;
    text-align: justify;
}

section.faq-section {
    margin-bottom: 3em;
}

footer {
    margin-top: 0.5em;
    border-top: 1px solid #ddd;
    padding-top: 0.5em;
}

footer p.footer-text {
    text-align: center;
    color: #888;
}

.nav .flag {
    margin-right: 0.7em;
    margin-bottom: -5px;
    width: 29px;
    height: 22px;
    border: 1px solid black;
    display: inline-block;
    vertical-align: center;
}

html[dir="rtl"] .nav .flag {
    margin-left: 0.7em;
    margin-right: 0;
}

.nav .curr-flag {
    border: 0;
}

.home-section p {
    text-align: justify;
}

.ratings-expl ul {
    list-style: none;
    margin-top: 1.6em;
}

.ratings-expl li {
    margin-bottom: 1.1em;
}

.ratings-expl li img {
    margin-right: 0.5em;
    margin-top: -0.5em;
}

.ratings-stats dl {
    margin-right: 1em;
    font-size: 0.85em;
}

div.realign.ratings-stats {
    margin-top: 3.1em;
}

.ratings-stats .progress-bar {
    height: 12px;
}

.ratings-stats .progress {
    height: 12px;
    margin-bottom: 6px;
}

.compat-list {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.compat-list tbody tr {
    vertical-align: center;
}

.compat-list tbody tr:nth-child(2n) {
    background-color: #eee;
}

.compat-list tbody tr:nth-child(2n+1) {
    background-color: #fff;
}

.compat-list th.category, .compat-list td.category {
    width: 5%;
}

.compat-list th.banner, .compat-list td.banner {
    width: 10%;
    margin-top: 1px;
    margin-bottom: 1px;
}

.compat-list td.banner div.bnr {
    width: 96px;
    height: 32px;
    margin: 0 auto;
}

.compat-list td.category img {
    margin-top: 1px;
    margin-bottom: 1px;
}

.compat-list th.title, .compat-list td.title {
    width: 60%;
}

.compat-list td.title {
    text-align: left;
    padding-left: 0.5em;
}

.compat-list th.rating, .compat-list td.rating {
    width: 12%;
}

.compat-list th.update, .compat-list td.update {
    width: 13%;
}

.pagination-small {
    height: 24px;
}

.pagination-small a {
    padding: 0 7px;
    line-height: 24px;
}

.col-row {
    overflow: hidden;
}

.col-row .col {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
    padding-left: 1em;
    background-color:#f5f5f5;
    border: 0;
    border-radius: 0;
}

.ratings-expl h3 {
    margin-left: 35px;
}

.ratings-expl, .ratings-stats {
    margin-bottom: 20px;
}

.back-link {
    font-weight: bold;
}

img.logo {
    height: 8em;
    margin-top: 2em;
    margin-bottom: 2em;
}

img.fp-sshot {
    width: 100%;
}

div.sshot-row {
    padding-left: 0.9em;
    padding-right: 0.9em;
    padding-bottom: 1em;
}

div.sshot-col {
    text-align: center;
    padding: 0.3em;
}

p.intro {
    margin-top: 0.7em;
    font-size: 14px;
}

.container div.jumbotron.my-hero {
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
}

div.my-hero h3 {
    font-weight: bold;
    margin-top: 2em;
}

.carousel-caption {
    padding-bottom: 2px;
}

.carousel-caption p {
    font-size: 18px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.9);
}

h2.latest-articles {
    margin-top: 0;
}

a.navbar-logo {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 4px;
    margin-right: 20px;
}

.my-hero h1.title {
    font-size: 40px;
    background-image: url("../img/logo-blue.png");
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: 100px;
    padding-left: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.page-header {
    margin-top: 0;
}

.col-md-6 .fb_iframe_widget span {
    top: -6px;
}

@media (max-width: 1199px) {
    .my-hero h1.title {
        font-size: 35px;
        background-size: 70px;
        padding-left: 90px;
    }

    .download-btn .btn-lg {
        font-size: 15px;
        font-weight: bold;
        white-space: normal;
    }

    #navbar-dolphin {
        font-size: 0.9em;
    }

    #navbar-dolphin .container {
        max-width: 1100px;
    }

    #navbar-dolphin .dropdown-toggle span {
        display: none;
    }
}

@media (max-width: 1000px) {
    #navbar-dolphin {
        font-size: 0.7em;
    }

    #navbar-dolphin .container {
        width: 100%;
        max-width: 950px;
    }

    #navbar-dolphin .nav > li > a {
        padding: 15px 10px 15px 10px;
    }
}

/* Blog */
p.seemore {
    text-align: right;
}
.entry-meta-line {
    margin: 0 0 1em;
}
p.entry-info, p.entry-last-update {
    display: inline;
    color: #aaa;
    font-style: 0.8em;
}

#navbar-dolphin {
    border-radius: 0;
}

.series .thumbnail {
    margin: 0 1em 0 0;
}
.series .innerdiv {
    display: inline-block;
}

ul.tag-cloud {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
ul.tag-cloud li {
    display: inline-block;
    margin: 0 0 0.3em 0;
}
ul.tag-cloud a {
    background: #5bc0de;
    border-radius: 2px;
    padding: 2px 5px;
    color: white;
}

.side-thumb {
    float: right;
}
html[dir="rtl"] .side-thumb {
    float: left;
}
.entry-body table th {
    text-align: center;
}
.entry-body table th, .entry-body table td {
    padding: 6px 13px;
    border: 1px solid #ddd;
}
.entry-body table tr:nth-child(2n) {
    background-color: #f8f8f8;
}

div.draft-warning {
  background-color: yellow;
  color: red;
  text-decoration: blink;
  font-size: 200%;
}

@keyframes blink {
    0% { opacity: 100%; }
    50% { opacity: 0; }
    100% { opacity: 100%; }
}
.blink {
    animation: blink 1.5s step-start 0s infinite;
}

.entry-content header {
    margin-bottom: 2em;
}

.entry-content header img {
    width: 100%;
}

/* Variant of the banner that is only visible on small screens */
.entry-content header img.mini {
    display: none;
}

@media (max-width: 640px) {
    .entry-content header img {
        display: none;
    }
    .entry-content header img.mini {
        display: block;
    }
}

.entry-content .media-block {
    margin-top: 2em;
    margin-bottom: 2em;
    overflow: hidden;
}

@media (min-width: 768px) {
    .entry-content .media-block {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    /* Modifiers, because the embed size depends on what is getting embedded */
    .entry-content .media-block.narrower {
        max-width: 510px;
    }
    .entry-content .media-block.wide {
        max-width: 680px;
    }
    .entry-content .media-block.wider {
        max-width: 720px;
    }
    .entry-content .media-block.full-width {
        max-width: 90%;
    }
}

.entry-content figure {
    text-align: center;
    margin-bottom: 1em;
}

.entry-content figure a {
    text-decoration: none;
}

.entry-content figure figcaption {
    margin-top: 0.5em;
}

.entry-content figure img {
    max-width: 100%;
    border-style: none;
}

@media (min-width: 1200px) {
    .entry-content .row.more-padding {
        margin-right: -25px;
        margin-left: -25px;
    }
    .entry-content .row.more-padding > [class^="col-"],
    .entry-content .row.more-padding > [class^=" col-"] {
        padding-right: 25px;
        padding-left: 25px;
    }
}

/* Reduce the amount of wasted space on small screens */
@media (max-width: 768px) {
    .entry-content .row {
        margin-right: -8px;
        margin-left: -8px;
    }
    .entry-content .row > [class^="col-"],
    .entry-content .row > [class^=" col-"] {
        padding-right: 8px;
        padding-left: 8px;
    }
}

/* rss orange */
.rss-tag {
    display: inline-block;
    width: 24px;
    height: 24px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 4px;
    padding: 2px 0;
    background: #FF6600;
}
.rss-tag:hover {
    color: white;
    text-decoration: none;
    background: #ff9100;
}

/* "Stolen" from Zinnia's base CSS. */
.container ul.paginator {
  margin: 0;
  padding: 1.5em 0;
  font-size: 1.2em; }
  .container ul.paginator li {
    list-style: none;
    display: inline-block;
    margin-right: 0.3em; }
    .container ul.paginator li.current {
      font-weight: bold; }
    .container ul.paginator li.current, .container ul.paginator li.index, .container ul.paginator li.ellipsis, .container ul.paginator li * {
      padding: 0 0.5em; }
    .container ul.paginator li.index, .container ul.paginator li.previous, .container ul.paginator li.next, .container ul.paginator li.ellipsis {
      display: none; }
    @media (min-width: 480px) {
      .container ul.paginator li.previous, .container ul.paginator li.next, .container ul.paginator li.ellipsis {
        display: inline-block; } }
    @media (min-width: 1024px) {
      .container ul.paginator li.index {
        display: inline-block; } }
