.navbar-inner { border-radius: 0; }

h1 a.anchor, h3 a.anchor {
    font-size: 60%;
    visibility: hidden;
}

h1:hover a.anchor, h3:hover a.anchor {
    visibility: visible;
}

#gallery {
    text-align: center;
}

#gallery > a {
    border: 1px solid #777;
    display: inline-block;
    margin: 0 1.5em 1.5em 0;
    padding: 4px;
}

#download-dev a.all-branches {
    font-weight: bold;
}

.commithash {
    font-family: monospace;
}

.versions-list {
    width: 100%;
    margin-bottom: 1em;
}

.versions-list td.version {
    font-weight: bold;
    text-align: center;
    width: 10%;
}

.versions-list td.reldate {
    text-align: center;
    width: 15%;
}

.versions-list td.description {
    width: 65%;
    font-style: italic;
}

.versions-list tr.infos td {
    padding-bottom: 0.5em;
}

div#download-stable, div#download-dev {
    margin-bottom: 3em;
}

div#download-stable h1, div#download-dev h1, div#download-source h1 {
    margin-bottom: 0.5em;
}

.versions-list tr:first-child {
    border-top: 1px solid #CCC;
}

.versions-list tr.infos td {
    padding-top: 0.6em;
}

.versions-list tr.download {
    border-bottom: 1px solid #CCC;
}

.versions-list tr.download td {
    padding-bottom: 0.6em;
}

.versions-list li span.version {
    display: inline-block;
    width: 8em;
}

.versions-list li span.reldate {
    display: inline-block;
    width: 14em;
}

.download-btn {
    margin-top: 4.5em;
}

#sshot-carousel {
    box-shadow: 0 0 6px #222222;
    margin-bottom: 0;
}

.hero-unit .requirements {
    font-size: 0.9em;
    line-height: 1.4em;
}

section.faq-section p {
    margin-bottom: 1.5em;
}

section.faq-section {
    margin-bottom: 3em;
}
