.navbar-inner { border-radius: 0; }

h1 a.anchor, h2 a.anchor {
    font-size: 60%;
    visibility: hidden;
}

h1:hover a.anchor, h2:hover a.anchor {
    visibility: visible;
}

#gallery {
    text-align: center;
}

#gallery > a {
    border: 1px solid #777;
    display: inline-block;
    margin: 0 1.5em 1.5em 0;
    padding: 4px;
}

.commithash {
    font-family: monospace;
}

ul.versions-list {
    list-style-type: none;
}

ul.versions-list span.version {
    font-weight: bold;
}

ul.dev-versions span.description {
    padding-left: 2em;
    font-style: italic;
}

div#download-stable, div#download-dev {
    margin-bottom: 3em;
}

div#download-stable h1, div#download-dev h1, div#download-source h1 {
    margin-bottom: 0.5em;
}

ul.versions-list div.download-links-div {
    margin-left: 1.5em;
    margin-top: 0.2em;
}

ul.versions-list li:first-child {
    border-top: 1px solid #CCC;
}

ul.versions-list li {
    border-bottom: 1px solid #CCC;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
}

ul.versions-list li span.version {
    display: inline-block;
    width: 8em;
}

ul.versions-list li span.reldate {
    display: inline-block;
    width: 14em;
}
