.printfooter {
    display: none;
}

.editsection {
    display: none;
}

.toc {
    border: 1px solid #aaa;
    background-color: #f9f9f9;
    padding: 5px;
    font-size: 95%;
    border-collapse: separate;
}

.toc #toctitle {
    text-align: center;
}

.toc .toctoggle {
    display: none;
}

.toc ul {
    list-style-type: none;
    list-style-image: none;
    padding: 0;
    margin: .3em 0;
}

.toc ul ul {
    margin: 0 0 0 2em;
}

#mw-content-text h2 {
    padding-top: .5em;
    padding-bottom: .17em;
    border-bottom: 1px solid #aaa;
    font-size: 150%;
    margin-bottom: .6em;
}

#toc h2, .toc h2 {
    display: inline;
    padding: 0;
    font-size: 100%;
    font-weight: bold;
    line-height: 18px;
    border: none;
}

.thumbcaption {
    border: none;
    text-align: left;
    line-height: 1.4em;
    padding: 3px !important;
    font-size: 94%;
}

div.magnify {
    float: right;
    border: none !important;
    background: none !important;
}

div.tright {
    margin: .5em 0 1.3em 1.4em;
}

div.tright, div.floatright, table.floatright {
    clear: right;
    float: right;
}

div.thumbinner {
    border: 1px solid #ccc;
    padding: 3px !important;
    background-color: #f9f9f9;
    font-size: 94%;
    text-align: center;
    overflow: hidden;
}

table.wikitable, table.prettytable {
    margin: 1em 1em 1em 0;
    border: 1px solid #aaa;
    border-collapse: collapse;
    background: #f9f9f9;
}

table.wikitable > tr > th, table.wikitable > * > tr > th {
    background-color: #f2f2f2;
    text-align: center;
}

table.wikitable > tr > th, table.wikitable > tr > td, table.wikitable > * > tr > th, table.wikitable > * > tr > td {
    border: 1px #aaa solid;
    padding: 0.2em;
}

table.wikitable p {
    margin: .4em 0 .5em 0;
}
