{% extends "_base.html" %}

{% load i18n %}
{% load staticfiles %}
{% load thumbnail %}

{% block "metadescr" %}{% trans "View all the user-contributed screenshots of the Dolphin Emulator: GameCube and Wii games in HD." %}{% endblock %}

{% block "title" %}{% trans "Screenshots gallery" %}{% endblock %}

{% block "extracss" %}
<link href="{% static "css/ekko-lightbox.min.css" %}" rel="stylesheet">
{% endblock %}

{% block "extrajs" %}
<script src="{% static "js/ekko-lightbox.min.js" %}"></script>
<script>
$(document).ready(function($) {
    $(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
        event.preventDefault();
        return $(this).ekkoLightbox({
            always_show_close: true
        });
    });
});
</script>
{% endblock %}

{% block "body" %}
<div class="page-header">
    <h1>{% trans "Media gallery" %}</h1>
</div>

<div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">
    {% for image in images %}
    {% thumbnail image.image "x1080" upscale=False format="JPEG" quality=80 as big %}
    <a href="{{ big.url }}" data-toggle="lightbox" data-gallery="media" data-title="{{ image.game_name }}">
        {% thumbnail image.image "150x150" crop="center" as small %}
        <img style="width: 150px; height: 150px;" src="{{ small.url }}" alt="{{ image.game_name }}">
        {% endthumbnail %}
    </a>
    {% endthumbnail %}
    {% endfor %}
</div>
{% endblock %}
