{% load i18n %}
{% load url from future %}
{% load static from staticfiles %}

<form method="get" action="{% url 'zinnia_entry_search' %}" role="search">
    <div class="input-group">
        <input type="text" placeholder="{% trans "Search articles" %}" name="pattern" class="form-control" />
        <span class="input-group-btn">
            <button type="submit" class="btn">
                <i class="icon-search"></i>
            </button>
        </span>
    </div>
</form>

<p class="alert alert-info" style="margin-top: 1em">
<img src="{% static "zinnia/img/help.png" %}" alt="?" class="help" width="14" height="14" />
{% trans "You can use - to exclude words or phrases, &quot;double quotes&quot; for exact phrases and the AND/OR boolean operators combined with parenthesis for complex queries." %}
</p>
