{% extends "_base.html" %}

{% load i18n %}

{% block "title" %}{% trans "Homepage" %}{% endblock %}

{% block "body" %}
<div class="hero-unit">
    <h1>{% trans "Dolphin Emulator" %}</h1>
    <p>
    {% trans "Play your Gamecube and Wii games in HD resolution on your PC." %}
    </p>

    <p><a class="btn btn-primary btn-large" href="{% url downloads-index %}">{% trans "Download now for Windows, Mac and Linux" %}</a></p>
</div>

<div class="row-fluid">
    <div class="span4">
        <h2>{% trans "Improved graphics" %}</h2>
        {% url media-all as MEDIA_PAGE_URL %}
        <p>
        {% blocktrans %}
        The Wii only renders games at a 480p resolution. Dolphin supports
        720p, 1080p and even better high definition resolutions for all of your
        Gamecube and Wii games. <a href="{{ MEDIA_PAGE_URL }}">View screenshots
        of games played on Dolphin</a>.
        {% endblocktrans %}
        </p>
    </div>

    <div class="span4">
        <h2>{% trans "Use your favorite controller" %}</h2>
        <p>
        {% blocktrans %}
        Not a big fan of the Gamecube controller and the Wiimote? You can
        play games with your favorite PC controller, or even with keyboard
        and mouse! Wiimotes are still supported, including Wii Motion Plus
        for games that require it.
        {% endblocktrans %}
        </p>
    </div>

    <div class="span4">
        <h2>{% trans "Great compatibility" %}</h2>
        <p>
        {% blocktrans %}
        Dolphin can play most of the Gamecube and Wii games collection
        without issues. New Wii releases often work on Dolphin from day one.
        Wiiware and Virtual Console games are also supported. Check out
        the <a href="{{ WIKI_URL }}">Dolphin compatibility wiki</a>.
        {% endblocktrans %}
        </p>
    </div>
</div>

{% endblock %}
