{% extends "_base.html" %}

{% load compat %}
{% load i18n %}
{% load humanize %}
{% load l10n %}
{% load thumbnail %}

{% block "metadescr" %}{% blocktrans with ver=last_master.shortrev %}Official website of Dolphin, the GameCube and Wii emulator. Download the latest version ({{ ver }}) now or ask questions on our forums for help.{% endblocktrans %}{% endblock %}

{% block "title" %}{% trans "GameCube/Wii games on PC" %}{% endblock %}

{% block "bodystart" %}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}

{% block "body" %}
<div class="jumbotron my-hero">
    <div class="row">
        <div class="col-md-6">
            <h1 class="title">{% trans "Dolphin Emulator" %}</h1>
            <p class="intro">
            {% blocktrans %}
            <b>Dolphin</b> is an emulator for two recent Nintendo video game
            consoles: the <b>GameCube</b> and the <b>Wii</b>. It allows PC
            gamers to enjoy games for these two consoles in <b>full HD</b>
            (1080p) with several enhancements: compatibility with all PC
            controllers, turbo speed, networked multiplayer, and even more!
            {% endblocktrans %}
            </p>

            <p class="download-btn"><a class="btn btn-primary btn-lg" href="{% url downloads-index %}?ref=btn"><i class="icon-download-alt"></i> {% blocktrans %}Download {{ last_release }} for Windows, Mac and Linux »{% endblocktrans %}</a></p>
            <div class="fb-like" data-href="http://www.facebook.com/dolphin.emu" data-send="false" data-layout="button_count" data-width="100" data-show-faces="true"></div>
            <div class="g-plusone" data-size="small" data-href="http://dolphin-emu.org/"></div>
        </div>
        <div class="col-md-6">
            <div id="carousel-sshot" class="carousel slide">
                <div class="carousel-inner">
                    {% for image in featured_images %}
                    <div class="item {% if forloop.counter == 1 %}active{% endif %}">
                        {% thumbnail image.image "853x480" crop="center" format="JPEG" quality=80 as big %}
                            <img src="{{ big.url }}" alt="{{ image.game_name }}">
                        {% endthumbnail %}
                        <div class="carousel-caption">
                            <h3>&nbsp;</h3>
                            <p>{{ image.game_name }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                  <a class="left carousel-control" href="#carousel-sshot" data-slide="prev"><span class="icon-prev"></span></a>
                  <a class="right carousel-control" href="#carousel-sshot" data-slide="next"><span class="icon-next"></span></a>
            </div>
        </div>
    </div>
</div>

<div class="row sshot-row">
    {% for image in featured_images %}
    <div class="col-md-2 sshot-col">
        {% thumbnail image.image "640x360" crop="center" format="JPEG" quality=80 as big %}
        <img src="{{ big.url }}" alt="{{ image.game_name }}" class="fp-sshot">
        {% endthumbnail %}
    </div>
    {% endfor %}
</div>

<div class="row" style="margin-top: 1em">
    <div class="col-md-3">
        <div class="realign ratings-stats well">
            <h4><a href="{% url compat-index %}">{% trans "Compatibility" %} »</a></h4>

            <dl>
            {% for rating in all_ratings %}
            <dt>{{ rating|compat_text }}: {{ rating|rating_pct|floatformat }}%</dt>
            <dd><div class="progress"><div class="progress-bar progress-bar-{{ rating|rating_class }}" style="width: {{ rating|rating_pct|unlocalize }}%"></div></div></dd>
            {% endfor %}
            </dl>
        </div>

        <div class="well">
            <p>Series here (with RSS links)</p>
        </div>

        <div class="well">
            <p>Ad here &gt;:|</p>
        </div>

        <div class="well">
            <p>Tags here</p>
        </div>
    </div>
    <div class="col-md-9">
        <h2 class="latest-articles">Latest articles</h1>
        <div class="well">
            <h3><a href="#">Release: Dolphin 4.0</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et rutrum elit, nec placerat nulla. Donec dignissim leo non convallis placerat. Etiam placerat tellus quis mattis euismod. Sed quis sollicitudin turpis. Mauris luctus est ante, eget tristique ipsum hendrerit venenatis. Nam eget aliquam eros. Etiam mattis turpis quis mauris dapibus, et scelerisque sapien congue. Nullam sodales quis neque non commodo. Fusce quis interdum lectus. Quisque tincidunt tristique elit, sed elementum leo pellentesque at. In id mollis tortor. Quisque nec placerat massa. Sed id ligula non erat venenatis laoreet. Etiam commodo viverra scelerisque. Maecenas id diam congue, vulputate lectus rhoncus, dictum arcu.</p>
            <p>Morbi nisi lorem, bibendum eget dolor sit amet, varius lobortis massa. Integer neque tortor, semper at velit eget, fringilla eleifend magna. Integer scelerisque, nisl id rutrum fringilla, velit dui pharetra odio, sit amet vestibulum leo sem sed tortor. Cras nulla augue, sagittis et laoreet sit amet, pharetra non urna. Etiam at nibh ornare, venenatis diam quis, commodo justo. Nam posuere, tellus quis suscipit elementum, augue nibh pellentesque massa, ut aliquam quam elit vel diam. Fusce a dolor et turpis semper feugiat ut a neque. Phasellus luctus aliquet eleifend. Ut dictum enim vitae euismod varius.</p>
            <p><a href="#">Read this article</a></p>
        </div>
        <div class="well">
            <h3><a href="#">Information: delroth appointed dictator</a></h3>
        </div>
        <div class="well">
            <h3><a href="#">Release: Dolphin 3.5</a></h3>
        </div>
        <div class="well">
            <h3><a href="#">Release: Dolphin 3.0</a></h3>
        </div>
    </div>
</div>

{% endblock %}

{% block "extrajs" %}
<script>
    (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();

    $(document).ready(function () {
        $('.carousel').carousel({
            interval: 7500
        });

        $('.carousel').carousel('cycle');
    });
</script>
{% endblock %}
