{% extends "_base.html" %}

{% load humanize %}
{% load i18n %}

{% block "title" %}{% blocktrans %}Compatibility List - page {{ page }}{% endblocktrans %}{% endblock %}

{% block "body" %}

{% include "compat-list-pagi.html" %}

<table class="compat-list">
    <thead>
        <tr>
            <th class="title">Game title</th>
            <th class="rating">Rating</th>
            <th class="update">Last updated</th>
            <th class="details">Details</th>
        </tr>
    </thead>

    <tbody>
        {% for game in page_obj.object_list %}
        <tr>
            <td class="title">{{ game.title }}</td>
            <td class="rating"><img src="{{ STATIC_URL }}img/stars/{{ game.latest.text.data }}.png" alt="{{ game.latest.text.data }} out of 5"></td>
            <td class="update">{{ game.latest.timestamp|naturaltime }}</td>
            <td class="details"><a href="{{ game.wiki_url }}">Wiki</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% include "compat-list-pagi.html" %}

{% endblock %}
