{% extends "_base.html" %}

{% load humanize %}
{% load i18n %}

{% block "title" %}{% blocktrans %}Compatibility List - page {{ page }}{% endblocktrans %}{% endblock %}

{% block "body" %}

<div class="well ratings-expl">
    <h3>{% trans "How to read the ratings" %}</h3>

    <ul>
        <li><img src="{{ STATIC_URL }}img/stars/5.png" alt="{% trans "5 out of 5" %}"> {% trans "<strong>Perfect</strong>: No issues at all!" %}</li>
        <li><img src="{{ STATIC_URL }}img/stars/4.png" alt="{% trans "4 out of 5" %}"> {% trans "<strong>Playable</strong>: Runs well, only minor graphical or audio glitches. Games can be played all the way through." %}</li>
        <li><img src="{{ STATIC_URL }}img/stars/3.png" alt="{% trans "3 out of 5" %}"> {% trans "<strong>Starts</strong>: Starts, maybe even plays well, but crashes or major graphical/audio glitches." %}</li>
        <li><img src="{{ STATIC_URL }}img/stars/2.png" alt="{% trans "2 out of 5" %}"> {% trans "<strong>Intro/Menu</strong>: Hangs/crashes somewhere between booting and starting." %}</li>
        <li><img src="{{ STATIC_URL }}img/stars/1.png" alt="{% trans "1 out of 5" %}"> {% trans "<strong>Broken</strong>: Crashes when booting." %}</li>
    </ul>
</div>

{% include "compat-list-pagi.html" %}

<table class="compat-list">
    <thead>
        <tr>
            <th class="title">{% trans "Game title (click for details)" %}</th>
            <th class="category">{% trans "Category" %}</th>
            <th class="rating">{% trans "Rating" %}</th>
            <th class="update">{% trans "Last updated" %}</th>
        </tr>
    </thead>

    <tbody>
        {% for game, cat in games %}
        <tr>
            <td class="title"><a href="{{ game.wiki_url }}">{{ game.title }}</a></td>
            <td class="category">{{ cat }}</td>
            <td class="rating"><img src="{{ STATIC_URL }}img/stars/{{ game.latest.text.data }}.png" alt="{{ game.latest.text.data }} out of 5"></td>
            <td class="update">{{ game.latest.timestamp|naturaltime }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% include "compat-list-pagi.html" %}

{% endblock %}
