{% load i18n zinnia blog_tags %}

<div style="margin-bottom: 1em">
    <form method="get" action="{% url 'zinnia:entry_search' %}" role="search">
        <div class="input-group">
            <input type="text" placeholder="{% trans "Search articles" %}" name="pattern" class="form-control" />
            <span class="input-group-btn">
                <button type="submit" class="btn">
                    <i class="icon-search"></i>
                </button>
            </span>
        </div>
    </form>
</div>

<div class="well text-center">
    <ins class="adsbygoogle"
    style="display:inline-block;width:200px;height:200px"
    data-ad-client="ca-pub-8646203626363069"
    data-ad-slot="9795528512"></ins>
</div>

<div class="well">
    <h4>{% trans "Blog tags" %}</h4>
    {% get_tag_cloud %}
</div>

<div class="well">
    <h4>{% trans "Blog series" %}</h4>
    {% get_recent_blog_series 3 %}
    <p class="seemore"><a href="{% url 'dolweb_blog_series_index' %}">{% trans "See all" %} »</a></p>
</div>
