{% load i18n zinnia_tags blog_tags %}
{% load url from future %}
<div style="margin-bottom: 1em">
    <form method="get" action="{% url 'zinnia:entry_search' %}" role="search">
        <div class="input-group">
            <input type="text" placeholder="{% trans "Search articles" %}" name="pattern" class="form-control" />
            <span class="input-group-btn">
                <button type="submit" class="btn">
                    <i class="icon-search"></i>
                </button>
            </span>
        </div>
    </form>
</div>

<div class="well text-center">
    <script type="text/javascript"><!--
    google_ad_client = "ca-pub-8646203626363069";
    /* Dolphin Blog Sidebar Ad */
    google_ad_slot = "9795528512";
    google_ad_width = 200;
    google_ad_height = 200;
    //-->
    </script>
    <script type="text/javascript"
    src="//pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>
</div>

<div class="well">
    <h4>{% trans "Blog tags" %}</h4>
    {% get_tag_cloud %}
</div>

<div class="well">
    <h4>{% trans "Blog series" %}</h4>
    {% get_blog_series 3 %}
    <p class="seemore"><a href="{% url 'dolweb.blog.views.series_index' %}">{% trans "See all" %} »</a></p>
</div>
