{% extends "zinnia/base.html" %}
{% load i18n comments zinnia_tags thumbnail %}
{% load url from future %}

{% block "title" %}Blog series{% endblock %}

{% block "metadescr" %}List of blog series{% endblock %}

{% block content %}

{% for serie in page_obj.object_list %}

<div class="well clearfix serie">
  {% if serie.image %}
    {% thumbnail serie.image "120x120" crop="center" format="PNG" as im %}
    <img src="{{ im.url }}" alt="Serie illustration" class="pull-left thumbnail" width="{{ im.width }}" height="{{ im.height }}" />
    {% endthumbnail %}
  {% endif %}
  <div class="innerdiv">
  <h2><a href="{% url 'dolweb.blog.views.serie_view' uid=serie.pk %}">{{ serie.name }}</a>
  <small>{% blocktrans count count=serie.entries.count %}
    {{ count }} entrie
  {% plural %}
    {{ count }} entries
  {% endblocktrans %}</small></h2>
  <ol>
  {% for entry in serie.entries_reversed %}
  <li><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></li>
  {% endfor %}
  </ol>
  </div>
</div>

{% empty %}
<p>{% trans "No blog series yet." %}</p>
{% endfor %}

{% endblock %}
